@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.simple-showcase li:first-child {
    margin-left: 1rem;
}

.simple-showcase li:last-child {
    margin-right: 1rem;
}
